/*  ADD your styles below --- WHERE INDICATED ---
    Keep all the comments I have provided.
    Where I have commented "keep," DO NOT touch that line!
    */

body {
    background: #EDBF85; /* must change */
    color: #000; /* may be #000 or #fff */
    font-family: Calibri, Arial, sans-serif; /* keep */
}


/* --- ADD YOUR STYLES BELOW --- */
aside{
  background: #EDBF85;
}

header{
  background: #90A5C1;
}

footer{
  background: #90A5C1
}
article {
    width: 800px; /* keep */
    padding: 20px; /* keep */
    margin: auto; /* keep */
    border: 1px solid; /* can delete or change */
    background: #F2A9AB
}

figure{
  background: #4FB99F
}
/* --- add your PSEUDO CLASSES below this line --- */

a:link{
  color: #0F0F7B
}
a:visited{
  color: #432546
}
a:focus{
  color: #94090D
}
a:hover{
  color: #CD0D23
}
a:active{
  color: #FF1D23
}
